.box {
    background: blue;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* TRANSFORM is a property that takes 
    functional values like f(x) to change an element
*/

#rotate {
    transform: rotate(-10deg);
}

#scale {
    transform: scale(0.5);
}


#skew {
    transform: skew(-40deg);
}

/* translate(x) moves element horizontally 
                (to the right if x is positive)
   translate(x, y) moves diagonally
   translate (0, y) moves vertically
 */
#translate {
    transform: translate(80px, -40px);
}

#chain {
    transform: scale(1.2) rotate(45deg);
}