/* STEP 1: Configure an element to be animated*/
#animated-shape {
    background:navy;
    width: 200px;
    height: 200px;
    /* sub-properties for the animation */
    animation-name: colorchange-alt;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* STEP 2: Define the animation sequence */
@keyframes colorchange {
    from { background: navy; }
    to { background: teal; }
}
@keyframes colorchange-alt {
    0% { backgground: navy; }
    25% { background: blue; }
    50% { 
        background: teal; 
      
    
    }
    75% { background: skyblue;}
    100% { background: navy; }
}

/* STEP 1: Config. an elementr to be animated
   but using the shortcut "animation" property which 
   sets the name duration, iterations, timing fuction 
   ALL IN ONE LINE! 
   */
#animated-emoji {
    font-size: 80px;
    animation: move-emoji 5s infinite linear;
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 65px;
   }
/* STEP 2: an animation sequence */
@keyframes move-emoji {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg) scale(1.5);
        opacity: 0;
    }
    100% {
        transform: rotate(360deg);
    }
}


.box {
    background: blue;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* TRANSFORM is a property that takes 
    functional values like f(x) to change an element
*/

#rotate {
    transform: rotate(-10deg);
}

#scale {
    transform: scale(0.5);
}


#skew {
    transform: skew(-40deg);
}

/* translate(x) moves element horizontally 
                (to the right if x is positive)
   translate(x, y) moves diagonally
   translate (0, y) moves vertically
 */
#translate {
    transform: translate(80px, -40px);
}

#chain {
    transform: scale(1.2) rotate(45deg);
}